body {
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    border: 8px solid #facca9;
    display: grid;
    grid-template: repeat(3,100px)/repeat(3,100px);
}

.cell {
    border-collapse: collapse;
    background-color: white;
    border: 2px solid #666666;
    font-size: 50px;
    color: white;
}

.cell1 {
    background-color: #F38630;
}

.cell2 {
    background-color: #69D2E7;
}

.playagain {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

h1 {
    font-weight: normal;
    font-size: 28px;
}