body {
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-size: 48px;
    padding: 32px;
}

.container{
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    border: 8px solid #facca9;
    display: grid;
    grid-template: repeat(3,100px)/repeat(3,100px);
}

.cell {
    border-collapse: collapse;
    background-color: white;
    border: 2px solid #666666;
    font-size: 50px;
    color: white;
}

.cell1 {
    background-color: #F38630;
}

.cell2 {
    background-color: #69D2E7;
}

.playagain {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

h1 {
    font-weight: normal;
    font-size: 28px;
}

.player-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}